<template name="companyPage">

<div id="mainPage" style="position:absolute;top:6%;left:0px;bottom:0px;right:0px;overflow:auto;background-color:#D6D6D6"  >


<div style="position:absolute:left:20%;right:20%">

    {{#if posts}}
        {{#each posts}}  
            {{>postItem}} 
        {{/each}}
      {{else}}
        <p> test </p>
        
    {{/if}}    
   
</div>   

 </div>

<!--background-color:#323437;color:#FEFEFE -->
 
<div class="side_navbar" style="top:7%;left:-400px;width:20%;min-width:400px;max-width:400px;border-radius:0px 5px 5px 0px; " id="companySidebar"> 
   <!-- background:#323437; -->
   
    <div style="position:absolute;right:-8%;top:2%;width:34px;height:42px;opacity:0.7;background-color:#FBFBFC;padding:5px;border-radius:0px 5px 5px 0px;overflow:hidden"><img width=32 height=auto src="/Buttons/go.png"> </div>
    
    {{>companyMenu}}
</div> 


<!-- <div class="side_Interact" style="right:-20%;width:20%;max-width:400px; " id="faqSidebar"> 
  
   
    <div style="position:absolute;left:-11%;width:11%;height:7%;opacity:0.7;background:#FBFBFC;padding:9px;border-radius:5px 0px 0px 5px;"><i class="fa fa-life-ring fa-2x" aria-hidden="true"></i>
 </div>
    
    {{>companyFAQ}}
</div>  -->


<!--<div class="side_Interact" style="right:-20%;width:20%;max-width:400px; " id="questionSidebar"> 
   
   
    <div style="position:absolute;top:10%;left:-11%;width:11%;height:7%;opacity:0.7;background:#FBFBFC;padding:9px;border-radius:5px 0px 0px 5px;"><i class="fa fa-comments-o fa-2x" aria-hidden="true"></i>
 </div>
    
    {{>companyQA}}
</div> -->
    
  
</template>
