<template name="companyPage">

<div style="position:absolute;top:0px;left:0px;bottom:0px;right:0px;overflow:auto" >


<div style="position:absolute:left:20%;right:20%">
 {{#each  posts}}  
    
    {{>postItem}} 
    <br/><br/>
    
  {{/each}} 
   
</div>   

 </div>

 
<div class="side_navbar" style="width:20%;max-width:400px;" id="CompanySidebar"> 
    {{>companyMenu}}
   
    
</div> 

  
   
   
<img src="/media/testlogo.png" width=auto height=100% style="opacity:0.05;float:right">

</template>
