<template name="setup">
<br>

<div style="margin:auto;width:60%" >
<div class="dashBoard-AaG" style="margin:auto">

<h1 style="text-align:center"><b>Welcome to LeafletBomb</b></h1>
<h3 style="text-align:center">   Initial Setup</h3>
<br/><br/>
<br/><br/>


<button type="button" class="setup-button-left" onclick="Router.go('/marketerSignup?accounttype=marketer')">
<div style="margin:auto;text-align:center;width:80px;height:80px;background:green;border-radius:100%;color:#fff;"> </div>
<h1>Marketer</h1>
<i>Write tomorrow's news</i>
<br/>
<br/>
<ul style="text-align:left">
<li>Create beautiful press releases easily</li>
<li>Access to a large pool of influencers</li>
<li>Send to the right influencers using lists</li>
</ul> 


</button>

<!-- <button type="button" class="setup-button-right" onclick="Router.go('/pressSignup?accounttype=influencer')">

<div style="margin:auto;text-align:center;width:80px;height:80px;background:red;border-radius:100%;color:#fff;"> </div>
<h1>Influencer</h1>
<i>Get access to the latest news</i>
<br/>
<br/>
<ul style="text-align:left">
<li>Find the latest press releases</li>
<li>Marketers can send press releases directly to you</li>
<li>Engage with the Marketer to get more information on the press release</li>
</ul>

</button> -->

</div>

</div>



</template>
