<template name="stopPage">

<div style="position:absolute;top:2%;bottom:0px;left:0px;right:0px;overflow:hidden"> 

<img src="/media/testlogo.png" width=auto height=100% style="opacity:0.05;float:right">


<div style="position:absolute;top:20%;bottom:20%;left:20%;right:20%;padding:10px;">

<h1 style="text-align:center"> Welcome </h1>
<br/>

<div class="input-group margin-bottom-sm">
                             <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                                <input id="mainSearch" name="mainSearch" class="form-control" type="text" placeholder="Search">
                        </div> 

</div>



</div>


</template>
