<template name="stopPage">

<div style="position:absolute;top:2%;bottom:0px;left:0px;right:0px;overflow:hidden"> 

<img src="/media/testlogo.png" width=auto height=100% style="opacity:0.05;float:right">


<div id="searcharea" style="position:absolute;top:20%;bottom:40%;left:20%;right:20%;padding:10px;">

<h1 style="text-align:center"> Welcome </h1>
<br/>

<div class="input-group margin-bottom-sm">
                             <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                                <input id="mainSearch" name="mainSearch" class="form-control" type="text" placeholder="Search">
                        </div> 

</div>

<div id="found" style="position:absolute;top:20%;bottom:0%;left:10%;right:10%;padding:10px;visibility:hidden;overflow:auto">

 <ul class="list-group">
    {{#if searching}}
      {{> loading}}
    {{else}}
      {{#each company}}
        <li class="list-group-item clearfix">
          <span class="pull-left"><h1><strong>{{companyName}}</strong></h1> <h3>About:</h3> {{about}}</span>
          <span class="pull-right">{{keywords}}</span>
        </li>
      {{else}}
        <p class="alert alert-warning">Nothing found for {{query}}.</p>
      {{/each}}
    {{/if}}
  </ul>

</div>


</div>


</template>
