  <template name="companyInfo">
  
  <i> <img class=dashBoard-largeLogo src="{{companyLogoSmall}}" height="128" width="auto"></i> <h1> {{companyName}} </h1>
    
    
    
    <a href=http://{{url}} > <img class=dashBoard-largeLogo src="{{companyLogo}}" alt="HomePage" height="128" width="auto"> </a>
    
    
    
    
    <div class= "dashBoard-locationInfo" >
    <h2> Location: </h2>
    {{companyAddress}} <br/>
    {{companyCity}}.{{companyState}},{{companyCountry}} <br/>
    {{companyPhone}}
    
    </div> 
    
    <div class= "dashBoard-contactInfo" >
    <h2> Contact: </h2>
    Community Manager: {{companySP}}<br/>
    Email: {{email}} <br/>
    <br/>
    </div> 
    
    <div>
    <h2>About</h2>
    {{about}}
    </div>
    
   
    
    
    </template>
