<template name="dashboardMenu">

            <h4>{{companyName}}</h4>
            
            <div class="nav_buttons"><a class="nav_button" id="DashBoard"><div> <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Information</div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="teamListItem"><div> <i class="fa fa-users" aria-hidden="true"></i>&nbsp;Team<span class="nav_info" style="visibility:hidden"> {{teamCounter}} </span></div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="DistrobutionListItem"> <div> <i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;Distribution</div> 
            </a></div> 
            <br/>
            Press Releases <i style="float:right;margin-right:10px;" class="fa fa-plus" aria-hidden="true"></i><br/>
            
           <div class="nav_buttons"><a class="nav_button" id="DraftsItem" ><div><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;Drafts<span class="nav_info"> {{draftCounter}} </span></div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="ScheduledItem" ><div><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;Scheduled<span class="nav_info"> {{scheduleCounter}} </span></div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="PublishedItem"><div><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Published<span class="nav_info"> {{publishCounter}} </span></div></a></div>




</template>
