<template name="dashboardMenu">

            <h4>{{companyName}}</h4>
            
            <div class="nav_buttons"><a class="nav_button" id="DashBoard"><div> <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Information</div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="teamListItem"><div> <i class="fa fa-users" aria-hidden="true"></i>&nbsp;Team<span class="nav_info" style="visibility:hidden"> {{teamCounter}} </span></div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="DistrobutionListItem"> <div> <i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;Distribution</div> 
            </a></div> 
            <div class="nav_buttons"><a class="nav_button" id="SettingListItem"> <div> <i class="fa fa-cog" aria-hidden="true"></i>&nbsp;Settings</div> 
            </a></div> 
            <br/>
            <div > Press Releases <i id="releaseAdd" style="float:right;margin-right:5px;background:#efefef;padding:5px;border-width:1px;border-style:solid;border-radius:4px" class="fa fa-plus " aria-hidden="true"></i> </div>
            
            <br/>
           <div class="nav_buttons"><a class="nav_button" id="DraftsItem" ><div><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;Drafts<span class="nav_info"> {{draftCounter}} </span></div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="ScheduledItem" ><div><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;Scheduled<span class="nav_info"> {{scheduleCounter}} </span></div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="PublishedItem"><div><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Published<span class="nav_info"> {{publishCounter}} </span></div></a></div>



 <button style="position:absolute;right:10px;bottom:10px" type="button" onclick="AccountsTemplates.logout()">Log Out</button> 
</template>
