<template name="distrobutionForm">

<h2>Distribution List <i style="float:right" id="delete" class="fa fa-trash" aria-hidden="true"></i></h2>
<div class="border_line" > </div>
<div class="row">
<form style="text-align:left;padding:10px;" id="distributionform">
 <div >
List Name:<br/> 
<input style="width:100%" type="text" name="listname" value="{{listname}}">
<br/>Custom message:
<textarea cols="80" rows="10" style="width:100%" name="message">{{message}}</textarea>
<br/>

</div>
<div style="width:100%">
<h3>Influencers</h3>
 <div class="input-group margin-bottom-sm">
                             <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                                <input class="form-control" type="text" placeholder="Search">
                        </div>
<br/>
<div style="width:100%;height:200px;overflow:auto">
<table style="width:100%;">
            
            {{#each influencerlist}}
                
                {{> distroInfluencer}}
                
            {{/each}}
            
        </table>
</div>        
</div>

<div class="border_line" > </div>
<br/>
<div style="width:100%">

<table style="position:absolute;bottom:1%;width:98%;padding:10px">
<tr>
<td><button class="header-button" style="float:left" type="button" id="distrocancel">Cancel</button></td>
<td><input class="header-button" style="float:right" type="submit" value="Submit" name="dsubmit"></td>
</tr></table> 

</div>

</form>


</div>



</template>
