<template name="distributionList">

    <div >
 
  <h2> Distribution: </h2>
  
  <div style="width:50%;float:left;padding:5px;" >
 
        
     <div class="dashBoard-Posts">
        <div class="dashposts">
                <div class="list_Item"> </div>
                <br/>
                <table style="width:100%">
                <tr>
                <td style="width:100%"><h3>Influencers</h3></td>
                <td style="text-align:right"> <button style="width:60px; height:60px" type="button" id="influenceradd">+</button> </td>
                </tr>
                </table> 
                    <br/>
           {{#each influencerlist}}
                
                {{> influencerItem}}
                
            {{/each}}
            
            <div class="list_Item"> </div> 
        </div>    
        
        </div>
 
 </div>
 
 <div style="width:50%;float:left;padding:5px;" >
 
        
     <div class="dashBoard-Posts">
        <div class="dashposts">
                <div class="list_Item"> </div>
                <br/>
                <table style="width:100%">
                <tr>
                <td style="width:100%"><h3>Distribution Lists</h3></td>
                <td style="text-align:right"> <button style="width:60px; height:60px" type="button" id="distroadd">+</button> </td>
                </tr>
                </table> 
                    <br/>
            {{#each distributionlists}}
            {{> DistributionListItem}}
            <!-- <div id="{{docId}}" class="prPreview">
                    {{>DashpostItem}}
                </div> -->
            {{/each}}
            <div class="list_Item"> </div> 
        </div>    
        
        </div>
 
 </div>
 
    </div>
    
    <div class="prPreview" id="distroaddwindow"  >
            {{>distrobutionForm}}

</div>


<div class="prPreview" id="influenceraddwindow"  >
        {{>influencerForm}}
</div>



</template>
