<template name="distributionList">

    <div >
 
  <h1 > Distribution: </h1>
   
 <div style="width:50%;float:left;padding:5px;" >
 
        
     <div class="dashBoard-Posts">
        <div class="dashposts">
                <div class="list_Item"> </div>
                <br/>
                <table style="width:100%">
                <tr>
                <td style="text-align:right"> <button class="Dashboard_Button" style="font-size: 250%;padding-bottom:4%;width:60px; height:60px" type="button" id="distroadd">+</button> </td>
                <td style="width:100%"><h3>Distribution Lists</h3></td>
                
                </tr>
                </table> 
                    <br/>
            {{#each distributionlists}}
            {{> DistributionListItem}}
            
            {{/each}}
            <div class="list_Item"> </div> 
        </div>    
        
        </div>
 
 </div>
 
    </div>
    
    <div style="width:50%;float:left;padding:5px;" >
 
        
     <div class="dashBoard-Posts">
        <div class="dashposts">
                <div class="list_Item"> </div>
                <br/>
                <table style="width:100%">
                <tr>
                <td style="text-align:right;float:left"> <button class="Dashboard_Button" style="font-size: 250%;padding-bottom:4%;width:60px; height:60px" type="button" id="influenceradd">+</button> </td>
                <td style="text-align:left;float:left"><h3>Influencers</h3></td>
                <td style="float:right"><h3>- {{listName}} -</h3></td>
                
                </tr>
                </table> 
                    <br/>
           {{#each influencerlist}}
                
                {{> influencerItem}}
                
            {{/each}}
            
            <div class="list_Item"> </div> 
        </div>    
        
        </div>
 
 </div>
    
    
    
    
    
    <div class="Dialog" id="distroaddwindow" style="top:5%;bottom:5%;left:25%;right:25%;padding:15px;overflow:auto"  >
            {{>distrobutionForm}} 

</div>


<div class="Dialog" id="influenceraddwindow" style="top:1%;bottom:1%;" >
        {{>influencerForm}}
</div>



</template>
