<template name="draftsList">



<div class="dashBoard-PressRelease" >
 <table style="width:100%">
 <tr>
 <td style="width:90%"> <h2> Drafts: </h2></td>
 <td style="text-align:right"> <button style="width:60px; height:60px" type="button" onclick="Router.go('/dashboard/{{userId}}/newPressRelease')">+</button> </td>
 </tr>
 </table>
 
 <div class="dashBoard-Posts">
        <div class="dashposts">
            {{#each dashposts}}
            {{> DraftItem}}
            <div id="{{docId}}" class="prPreview">
                    {{>DashpostItem}}
                </div> 
            {{/each}}
        </div>    
         
 
 </div>

</div>




</template>
