<template name="influencerForm">
<h2>Influencer <i style="float:right" id="delete" class="fa fa-trash" aria-hidden="true"></i></h2>
<div class="border_line" > </div>

<form style="text-align:right;padding:10px;" id="influencerform">
<div class="row">

<div >
<h3 style="text-align:left">General</h3>

<table style="100%"><tr>
<td style="width:10%"> <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i></td>
<td style="width:90%;text-align:left"> <input style="width:100%" type="text" name="name" value="{{Name}}" placeholder="Name"><br/>
<input style="width:100%" type="text" name="company" value="{{companyName}}" placeholder="Company"></td>
</tr></table>
<br/>
<h4 style="text-align:left">Connection</h4>
Phone: <input  style="width:90%" type="text" name="phone" value="{{phone}}"><br/>
Email: <input style="width:90%" type="text" name="email" value="{{email}}"><br/>
URL: <input style="width:90%" type="text" name="url" value="{{url}}"><br/>
<br/>
Address: <input  style="width:90%" type="text" name="address" value="{{address}}"><br/>
State: <input style="width:90%" type="text" name="state" value="{{state}}"><br/>
Country: <input  style="width:90%" type="text" name="country" value="{{country}}"><br/>

<h3 style="text-align:left">Optional</h3>
</div>
 <div style="text-align:left">
 Personal Message:
<textarea cols="80" rows="8" name="notes">{{about}} </textarea>

</div></div>

<br/>
<table style="width:100%;">
<tr>
<td><button class="header-button" style="float:left" type="button" id="influencercancel">Cancel</button></td>
<td><input class="header-button" type="submit" value="Submit" name="isubmit"></td>
</tr></table> 

</form>




</template>
