<template name="TeamItem">

<div class="list_Item"> 
<table style="height:100%"> 
<tr style="border-radius:10px;pointer-events: none;">
<td> {{{avatar}}} </td>

<td> <H3>{{name}}</H3>
{{email}} </td>

<td><input name="userid" type="hidden" value="{{userid}}"></td>
</tr></table>

</div>

<div id="{{userid}}" class="prPreview">
                    {{>teamTemplate }}
                </div> 

</template>


<template name="MasterAccount">

<div class="list_Item"> 
<table style="height:100%"> 
<tr style="border-radius:10px;pointer-events: none;">
<td> {{{avatar}}} </td>
<!-- <img src="{{avatar}}"  height="64" width="auto" alt="" style="margin-top:35%"> -->
<td> <H3>{{userName}}</H3>
{{email}} </td>

<td><input name="userid" type="hidden" value="{{userId}}"></td>
</tr></table>
<i style="float:right;"> Master Account </i>
</div>

<div id="{{companyId}}" class="prPreview">
                    {{>maTemplate }}
                </div> 

</template>


<template name="PublishedItem">

<div class="list_Item"> 
<H2>{{title}}:</H2>{{tagline}}

<input name="docid" type="hidden" value="{{docId}}">
</div>

</template>



<template name="DraftItem">

<div class="list_Item"> 
<tr style="border-radius:10px;pointer-events: none;"> 
<td> <H2>{{title}}:</H2></td>
<td>{{tagline}}</td>
</tr>

<input name="docid" type="hidden" value="{{docId}}">

</div>

</template>



<template name="ScheduledItem">

<div class="list_Item"> 
<tr style="border-radius:10px;pointer-events: none;"> 
<td> <H2>{{title}}:</H2></td></tr>
<tr style="border-radius:10px;pointer-events: none;">
<td>{{tagline}}</td>
</tr>

<input name="docid" type="hidden" value="{{docId}}">
</div>

</template>


<template name="DistributionListItem">

<div class="list_Item"> 
<tr style="border-radius:10px;pointer-events: none;">
    <td><i class="fa fa-envelope-open-o fa-2x" aria-hidden="true"></i></td>
   <td style="pointer-events: none;">{{listname}}</td>
   <td>{{numinlist}}</td>
   
   <td><input name="userid" type="hidden" value="{{distid}}"></td>
</tr>    

</div>

<div id="{{distid}}" class="prPreview">
                    {{>distrobutionForm}}
                </div> 

</template>

<template name="DistributionListItemSelect">

<div class="list_Item"> 
<tr >
    <td style="width:10%"><i class="fa fa-envelope-open-o fa-2x" aria-hidden="true"></i></td>
   <td style="pointer-events: none;width:90%;text-align:center">{{listname}}</td>
   <td style="text-align:right;width:10%"><input id="checker" type="checkbox" name="{{Name}}" value="{{_id}}" {{selected}} ></td> 
   <td><input name="userid" type="hidden" value="{{distid}}"></td>
</tr>    

</div>

</template>



<template name="influencerItem">
 <div class="list_Item" >
<tr style="border-radius:10px;pointer-events: none;">
    <td><i class="fa fa-newspaper-o fa-2x" aria-hidden="true"></i></td>
   <td style="text-align:left;width:50%">{{Name}}</td>
   <td style="text-align:left;width:50%">({{companyName}})</td>
   <td><input name="userid" type="hidden" value="{{userid}}"></td>
   
</tr>

</div> 

<div id="{{userid}}" class="prPreview">
                    {{>influencerForm}}
                </div> 

</template>
