<template name="settingsMenu">

            <h4>Settings</h4><br>
            
            <p><b>General</b></p>
            
      <div class="nav_buttons"><a class="nav_button" id="DashBoard"><div> <i class="fa fa-building" aria-hidden="true"></i>&nbsp;Company</div></a></div>
      <div class="nav_buttons"><a class="nav_button" id="Theme"><div><i class="fa fa fa-cube" aria-hidden="true"></i>&nbsp;Theme</div></a></div>
      <div class="nav_buttons"><a class="nav_button" id="Upgrade"><div> <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Upgrades</div></a></div>
        <br>
        <p><b>Server</b></p>
        
        <div class="nav_buttons"><a class="nav_button" id="Backend"><div> <i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;Backend</div></a></div>
      <div class="nav_buttons"><a class="nav_button" id="Plugin"><div> <i class="fa fa-plug" aria-hidden="true"></i>&nbsp;Plugins</div></a></div>
      <div class="nav_buttons"><a class="nav_button" id="LeafletPress"><div> <i class="fa fa-umbrella" aria-hidden="true"></i>&nbsp;Leaflet Press connection</div></a></div>
        

<button style="position:absolute;width:95%;right:5px;bottom:10px" type="button" id="backbutton">Back</button> 
</template>
