<template name="influencerQA">

   <div style="text-align:center"><h1> Questions </h1></div>
              
            <div style="width:100%;height:1px;background:#2DD1AC;"> </div>
            
            <div style="width:100%;height:79%;overflow:auto">
           
                {{#each questions}}
                    {{>QuestionItem}}
                {{/each}}    
            
            
           </div>


    <div style="position:absolute;bottom:1%;height:10%;left:1%;right:1%;border-style:solid;border-color:#2DD1AC;border-width:1px 0px 0px  0px  ">
       <button id="addQuestion" class ="header-button" style="position:absolute;bottom:1%;width:100%;height:90%;font-size:170%" type="button">Ask a Question</button> 
    </div> 
    
  
    <div >
    
    
    
    
    </div>
   


</template>
