<template name="QuestionItem">

  <div class="question_Item" style="position:relative;height:96px;overflow:hidden">
   <!-- <div style="position:absolute;top:0px;left:0px;width=64px;height:64px;">
    
    </div> 
    <div style="position:absolute;top:0px;left:68px;font-size:120%"> 
    
   </div> -->
  <div style="position:absolute;top:1%;left:1%;right:1%;bottom:80%;font-size:160%"> 
        {{question}}
 </div>
 
 <div style="position:absolute;bottom:2px;right:2px;"> 
  {{{avatar}}} {{influencer}} - {{date}}
</div>

</div> 

</template>
