<template name="dashBoard">


        <div class="side_navbar" >
            <h4>{{companyName}}</h4>
            
            <div class="nav_buttons"><a class="nav_button" id="DashBoard"><div> <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;Information</div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="teamListItem"><div> <i class="fa fa-users" aria-hidden="true"></i>&nbsp;Team<span class="nav_info"> {{teamCounter}} </span></div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="DistrobutionListItem"> <div> <i class="fa fa-address-book" aria-hidden="true"></i>&nbsp;Distribution</div> 
            </a></div> 
            <br/>
            Press Releases <i style="float:right;margin-right:10px;" class="fa fa-plus" aria-hidden="true"></i><br/>
            
           <div class="nav_buttons"><a class="nav_button" id="DraftsItem" ><div><i class="fa fa-file-code-o" aria-hidden="true"></i>&nbsp;Drafts<span class="nav_info"> {{draftCounter}} </span></div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="ScheduledItem" ><div><i class="fa fa-calendar-o" aria-hidden="true"></i>&nbsp;Scheduled<span class="nav_info"> {{scheduleCounter}} </span></div></a></div>
            <div class="nav_buttons"><a class="nav_button" id="PublishedItem"><div><i class="fa fa-check" aria-hidden="true"></i>&nbsp;Published<span class="nav_info"> {{publishCounter}} </span></div></a></div>
            
        </div>
    
<!-- <div class="dashBoard-AaG" > -->
<div class="main-content" >
<div class="dashBoard-companyInfo">
    
    <h1> {{companyName}} <img style="float:right" id="companyedit" src="/Buttons/edit.svg" alt="Edit" height="24" width="auto"> 
    <!-- <button style="width:60px; height:60px;" type="button" onclick="Router.go('/marketerSetup/{{userId}}')">+</button> -->
    </h1>
    <a href={{url}} > <img class=dashBoard-largeLogo src="{{companyLogo}}" alt="HomePage" height="128" width="auto"> </a>
    
    <div class= "dashBoard-locationInfo" >
    <h2> Location: </h2>
    {{companyAddress}} <br/>
    {{companyCity}}.{{companyState}},{{companyCountry}} <br/>
    {{companyPhone}}
    
    </div> 
    
    <div class= "dashBoard-contactInfo" >
    <h2> Contact: </h2>
    Community Manager: {{companySP}}<br/>
    Email: {{email}} <br/>
    <br/>
    </div> 
    
    <div class="dashBoard-AaG" >
    <h2>About</h2>
    {{about}}
    
    </div>
    

   
    <button style="float:right" type="button" onclick="AccountsTemplates.logout()">Log Out</button> 
</div>

<div id="dashboard_PR" class="slideIn" >


</div>

<!-- <div class="dashBoard-AaG" id="widgets"> -->
<div id="dashboard_Influencer" class="slideIn" >
<div class="dashBoard-PRAAG" >
     <table style="width:100%">
 <tr>
 <td style="width:90%"> <h3> Engagment: </h3></td>
 
 </tr>
 </table>
        <table style="width=100%">
            
            
            
        </table>
    
    <table style="width=100%"> 
        
        
    </table>
    
</div>

<!--<div class="dashBoard-distlist" >
     <table style="width:100%">
 <tr>
 <td style="width:90%"> <h3> Distribution List: </h3></td>
 <td style="text-align:right"> <button style="width:60px; height:60px" type="button" id="distroadd">+</button> </td>
 </tr>
 </table>
        <table style="width=100%">
            
            {{#each distributionlists}}
            
                {{> distrilist}}
               
            {{/each}}
            
        </table>
    
    <table style="width=100%"> 
        
        
    </table>
    
</div>

<div class="dashBoard-influencelist">
         <table style="width:100%">
 <tr>
 <td style="width:90%"> <h3> Influencers: </h3></td>
 <td style="text-align:right"> <button style="width:60px; height:60px" type="button" id="influenceradd">+</button> </td>
 </tr>
 </table>
    
    <table style="width=100%">
            
            {{#each presslist}}
            
                {{> influencer}}
               
            {{/each}}
            
        </table>

</div> -->

</div> 
 
 </div>

 



<div id="dashboard_Teams" class="slideIn" >
{{> teamList }}


<div class="popup" id="teamaddwindow">
<h2>Team Memeber</h2>
<div style="width:100%;height:2px;background:#000"> </div>
<br/>
<form style="text-align:right;padding:10px;" id="teamform">
<div class="row">

<div class="col-sm-4">
<h3 style="text-align:left">General</h3>
<br/>
Name: <input type="text" name="name" value=""><br/>
Email: <input type="text" name="email" value=""><br/>

<br/>
<h3 style="text-align:left">Optional</h3>
Blog: <input type="text" name="url" value=""><br/>
Phone: <input type="text" name="phone" value=""><br/>

</div>
 <div class="col-sm-8">
 <br><br>Bio:
<textarea cols="80" rows="18" name="notes"> </textarea>

</div></div>

<br/>
<table style="width:100%;">
<tr>
<td><button type="button" id="teamcancel">Cancel</button></td>
<td><input type="submit" value="Submit" name="tsubmit"></td>
</tr></table> 

</form>
</div>

</div>

<div id="dashboard_Drafts" class="slideIn" >
{{> draftsList }}

</div>

<div id="dashboard_Scheduled" class="slideIn" >
{{> scheduledList }}

</div>

<div id="dashboard_Published" class="slideIn" >
{{> publishedList }}

</div>

<div id="dashboard_TeamList" class="slideIn" >
{{> teamList }}

</div>

<div id="dashboard_DistributionList" class="slideIn" >
{{> distributionList }}

</div>

<div id="dashboard_CompanyConfig" class="slideIn" >
{{> marketerSetup edit="true" }}

</div>

</template>
