<template name="dashBoard">


        <div class="side_navbar" id="DashboardSidebar">
            {{>dashboardMenu}}
            
        </div>
        
        <div class="side_navbar" id="SettingsSidebar" style="visibility:hidden">
            {{>settingsMenu}}
            
        </div>
        
        



<div style="left:12%;right:0px;bottom:0px;top:0px;padding:1%;position:absolute;overflow:auto" >

<!--class="dashBoard-PressRelease"-->

{{>releaseItems}}

{{>pluginContainer name="plugin2"}}

{{>pluginContainer name="plugin3"}} 

</div>

<!-- <div class="dashBoard-companyInfo">
    
  {{>companyInfo}}
  
</div> -->


<div id="dashboard_PR" class="slideIn" >


</div>

<!-- <div class="dashBoard-AaG" id="widgets"> -->
<div id="dashboard_Influencer" class="slideIn" >
<div class="dashBoard-PRAAG" >
     <table style="width:100%">
 <tr>
 <td style="width:90%"> <h3> Engagment: </h3></td>
 
 </tr>
 </table>
        <table style="width=100%">
            
            
            
        </table>
    
    <table style="width=100%"> 
        
        
    </table>
    
</div>


</div> 
 

<div id="dashboard_Teams" class="slideIn" >
{{> teamList }}

</div>

<div id="dashboard_Drafts" class="slideIn" >
{{> draftsList }}

</div>

<div id="dashboard_Scheduled" class="slideIn" >
{{> scheduledList }}

</div>

<div id="dashboard_Published" class="slideIn" >
{{> publishedList }}

</div>

<div id="dashboard_TeamList" class="slideIn" >
{{> teamList }}

</div>

<div id="dashboard_DistributionList" class="slideIn" >
{{> distributionList }}

</div>

<div id="dashboard_CompanyConfig" class="slideIn" >
{{> marketerSettings edit="true" }}

</div>

<div id="dashboard_Preview" class="slideInFull" >
{{> companyPage }}

</div>
 

</template>
