<template name="dashBoard">


        <div class="side_navbar" id="DashboardSidebar">
            {{>dashboardMenu}}
            
        </div>
        
        <div class="side_navbar" id="SettingsSidebar" style="visibility:hidden">
            {{>settingsMenu}}
            
        </div>
        
        
<div class="dashBoard-companyInfo">
    
    <h1> {{companyName}} <img style="float:right" id="companyedit" src="/Buttons/edit.svg" alt="Edit" height="24" width="auto"> </h1>
    
    
    
    <a href=http://{{url}} > <img class=dashBoard-largeLogo src="{{companyLogo}}" alt="HomePage" height="128" width="auto"> </a>
    
    
    
    
    <div class= "dashBoard-locationInfo" >
    <h2> Location: </h2>
    {{companyAddress}} <br/>
    {{companyCity}}.{{companyState}},{{companyCountry}} <br/>
    {{companyPhone}}
    
    </div> 
    
    <div class= "dashBoard-contactInfo" >
    <h2> Contact: </h2>
    Community Manager: {{companySP}}<br/>
    Email: {{email}} <br/>
    <br/>
    </div> 
    
    <div>
    <h2>About</h2>
    {{about}}
    </div>
    
    <button style="position:absolute;right:10px;bottom:10px" type="button" onclick="AccountsTemplates.logout()">Log Out</button> 
</div>


<div style="left:12%;right:25.04%;bottom:0px;top:0px;padding:1%;position:absolute;overflow:auto" >

<!--class="dashBoard-PressRelease"-->

{{>pluginContainer name="plugin1"}}

{{>pluginContainer name="plugin2"}}

{{>pluginContainer name="plugin3"}} 



</div>



<div id="dashboard_PR" class="slideIn" >


</div>

<!-- <div class="dashBoard-AaG" id="widgets"> -->
<div id="dashboard_Influencer" class="slideIn" >
<div class="dashBoard-PRAAG" >
     <table style="width:100%">
 <tr>
 <td style="width:90%"> <h3> Engagment: </h3></td>
 
 </tr>
 </table>
        <table style="width=100%">
            
            
            
        </table>
    
    <table style="width=100%"> 
        
        
    </table>
    
</div>


</div> 
 
 

 



<div id="dashboard_Teams" class="slideIn" >
{{> teamList }}

</div>

<div id="dashboard_Drafts" class="slideIn" >
{{> draftsList }}

</div>

<div id="dashboard_Scheduled" class="slideIn" >
{{> scheduledList }}

</div>

<div id="dashboard_Published" class="slideIn" >
{{> publishedList }}

</div>

<div id="dashboard_TeamList" class="slideIn" >
{{> teamList }}

</div>

<div id="dashboard_DistributionList" class="slideIn" >
{{> distributionList }}

</div>

<div id="dashboard_CompanyConfig" class="slideIn" >
{{> marketerSettings edit="true" }}

</div>

</template>
