<template name="setupNotices">


<div style="background-color:#fefefe;border-style:solid;border-width:1px;border-radius:5px;border-color:black;padding:20px;">

<h1> Almost there! </h1>

<p> Welcome to your new Dashboard. Before we get started making news, you need to setup a few more things. 
These can be changed at any time, but your life will be made easier if you check off these few items before anything else:


 <ul>
  <li id="emailCheck" style="visibility:{{emailCheckVisibility}};padding:20px;width:50%">Email Settings. (Settings --> Backend --> Look for "Email Settings")</li>
  <br/>
  <li id="ltCheck" style="visibility:{{ltCheckVisibility}};padding:20px;width:50%">Logo & Trademark. (Settings --> Company --> Look for "Visual Assets") </li>
  <br/>
  <li id="maCheck" style="visibility:{{maCheckVisibility}};padding:20px;width:50%">Master Account. (Team --> Click on Master Account) </li>

</ul> 

<br/>

Feel free to look through other options and set things up as needed. We don't have it all fleshed out so keep your client up to date to get new features as they go live.
<br/>

<h3 style="text-align:center"> This window well disapear once you have them all setup. </h3>

</p>






</div>

</template>
